#A{color: rgb(237, 122, 237); font-size: 75px;}

#B{color: rgb(147, 148, 237); font-size: 50px;}

#C{color: rgb(97, 221, 228); font-size: 50px;}

#D{color: rgb(239, 97, 239); font-size: 50px;}

#E{color: rgb(197, 101, 239); font-size: 50px;}

#F{color: rgb(47, 130, 110); font-size: 50px;}

#G{color: rgb(106, 164, 157); font-size: 50px;}

#H{background-color: black;}